<ion-header>
  <ion-toolbar >
    <ion-button slot="start" fill ="none" (click)= "goRegreso()">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">¿Olvidaste tu contraseña?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <ion-item>
    <ion-input placeholder="Email" type="text" [(ngModel)] ="email" name="email"></ion-input>
  </ion-item>
  <br>

  <ion-button class="registro" expand = "block" routerLink="/home" (click)="restablecerContra()">Enviar Email</ion-button>
  <br>
 

</ion-content>
