<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start" fill ="none" routerLink="/perfil">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-button slot="end" fill ="none" (click)="presentActionSheet()">
      <ion-icon name = "menu" ></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">Informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <br>
  <p style="text-align: center;">Usted no tiene permisos dentro de la aplicacion movil</p>
  <br>
  <p style="text-align: center;">Por favor regrese al sistema Web</p>


</ion-content>
