<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/listado"></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" fill ="none" (click)="presentActionSheet()">
      <ion-icon name = "menu" ></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngFor="let reser of reservas$ | async"> 
    <div *ngIf="usuarioLog === reser.uidResta"> 
      <ng-template [ngIf]="reser.estado.toString() === 'Aprobado'">
        <ion-card>
          <ion-card-header>
            <ion-card-title style="text-align: center;">Reserva Aprobada</ion-card-title>
            <div class="imagen">
              <img src="../../../assets/logoU.png" width="140px">
            </div>
          </ion-card-header>
          <ion-card-subtitle>
            &nbsp;
            <h6>&nbsp;
              <ion-icon name="person"></ion-icon>&nbsp;
            {{reser.nombre}}
            </h6>
            <h6>&nbsp;
              <ion-icon name="phone-portrait"></ion-icon>&nbsp;
            {{reser.numero}}
            </h6>
            <h6>&nbsp;
              <ion-icon name="restaurant"></ion-icon>&nbsp;
            {{reser.mesas}}&nbsp; mesas
            </h6>
            <h6>&nbsp;
              <ion-icon name="time"></ion-icon>&nbsp;
            {{reser.tiempo}}&nbsp; minutos
            </h6>
          </ion-card-subtitle>
          <ion-card-header>
            <ion-button color="secondary" (click)="alertEditar(reser.uid)" ><ion-icon name="close"></ion-icon>Cancelar&nbsp;</ion-button>
            <ion-button  color="danger" (click)="alertEliminar(reser.uid)"><ion-icon name="trash"></ion-icon>Eliminar</ion-button>
          </ion-card-header>
            
        </ion-card>
      </ng-template>
      
    </div>
   
  </div>


</ion-content>
