<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">
      REGISTRO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input type="text" [(ngModel)] ="email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Contraseña:</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nombre:</ion-label>
    <ion-input type="text" [(ngModel)]="nombre" name="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Número:</ion-label>
    <ion-input type="text" [(ngModel)]="numero" name="numero"></ion-input>
  </ion-item>
  <br>
  <ion-button routerLink="/home" (click)="OnSubmitRegister()">REGISTRARSE</ion-button>
  <br>
  <p style="text-align: center;" routerLink="/home">Ya tengo Cuenta</p>

</ion-content>
