<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">
      REGISTRO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="registro" (ngSubmit)="OnSubmitRegister(registro.value)">
    <ion-list>
      <ion-item>
        <ion-input placeholder="Nombre" formControlName="nombre" maxlength ="20"
        minlength ="3"></ion-input>
      </ion-item>
      <div >
        <ng-container *ngFor ="let error of errorMensajes.nombre">
          <div class="e" *ngIf ="registro.get('nombre').hasError(error.type) && (registro.get('nombre').dirty || registro.get('nombre').touched)">
            {{error.message}}
          </div>
        </ng-container> 
      </div>


      <ion-item>
        <ion-input placeholder="Correo" formControlName="email" type="text"></ion-input>
      </ion-item>
      <div >
        <ng-container *ngFor ="let error of errorMensajes.email">
          <div class="e" *ngIf ="registro.get('email').hasError(error.type) && (registro.get('email').dirty || registro.get('email').touched)">
            {{error.message}}
          </div>
        </ng-container> 
      </div>
    
      <ion-item>
        <ion-input placeholder="Teléfono" formControlName="numero" type="text" maxlength="10"></ion-input>
      </ion-item>
      <div >
        <ng-container *ngFor ="let error of errorMensajes.numero">
          <div class="e" *ngIf ="registro.get('numero').hasError(error.type) && (registro.get('numero').dirty || registro.get('numero').touched)">
            {{error.message}}
          </div>
        </ng-container> 
      </div>
    
      <ion-item>
        <ion-input placeholder="Contraseña" formControlName="password" type="password" maxlength ="25"></ion-input>
      </ion-item>
      <div >
        <ng-container *ngFor ="let error of errorMensajes.password">
          <div class="e" *ngIf ="registro.get('password').hasError(error.type) && (registro.get('password').dirty || registro.get('password').touched)">
            {{error.message}}
          </div>
        </ng-container> 
      </div>

      <ion-button [disabled] ="registro.invalid" type = "submit" expand = "block">
        REGISTRARSE
        <ion-icon slot="end" name ="create"></ion-icon>
      </ion-button>
    </ion-list>
    
  </form>

  <ion-button color ="danger" expand = "block" routerLink="/home">
    Ya tengo Cuenta
  </ion-button>

</ion-content>
