
.titulo{
  border: 6px solid #1dbfd4;
  border-radius: 3%;
  /* margin-top: 100px; */
  /* margin-bottom: 100px; */
  background-color: #1dbfd4;
  color: white;
}

ion-card .fotoPerfil{
  padding-left: 25%;
  top: 40px;
  width: 250px;
}

ion-toolbar{
  --background: #eeeeee ;
}

.datos{
  font-size: 10wh;
}

.aver2{
  display: flex;
  padding: 0% 10% 0% 10%;
}