
.titulo{
  border: 6px solid #1dbfd4;
  border-radius: 3%;
  /* margin-top: 100px; */
  /* margin-bottom: 100px; */
  background-color: #1dbfd4;
  color: white;
}



ion-toolbar{
  --background: #eeeeee ;
}

.datos{
  font-size: 10wh;
}

.aver2{
  display: flex;
  padding: 0% 10% 0% 10%;
}

.fotoPerfil{
  width: 165px;
  height: 165px;
  margin-left: auto;
  margin-right: auto;
}