<ion-header>
  <ion-toolbar color ="success">
    <ion-title style="text-align: center;" *ngFor = "let resta of restaurantes">{{resta.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <img src="../../assets/icon/resta1.jpg" width="100" height="150"/>
  </ion-card>

  <h2 style="text-align: center;">CALIFICACION</h2>

  <ion-card>
      <img src="../../assets/icon/3estrellas.jpg"/>
    </ion-card>

  <h3 style="text-align: center;">Menú del Día</h3>

  <ion-item *ngFor = "let menu of menus">
    <ion-label>
      <h4>Entrada: <b>{{menu.entrada}}</b></h4>
      <h4>Segundo: <b>{{menu.segundo}}</b></h4>
      <h4>Jugo: <b>{{menu.jugo}}</b></h4>
      <h4>Precio: <b>{{menu.precio}}</b></h4>
    </ion-label>
    
  </ion-item>
  <ion-button routerLink="/mapa">REGRESAR</ion-button>
  <br>
  <ion-button routerLink="/formulario-reserva">Realizar Reserva</ion-button>
  <br>
  <ion-button routerLink="/reserva">Visualizar Pedidos</ion-button>
  <br>
  <ion-button routerLink="/menu">Actualizar Menu</ion-button>
  <br>

</ion-content>
