.slides {
    height: 16%;
    width: 100%;
}

.titulo{
    border: 0px solid #D85C00;
    border-radius: 5%;
    background-color: #D85C00;
    color: white;
  }

  ion-toolbar{
    --background: #eeeeee ;
  }