<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill ="none" routerLink="/perfil">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-button slot="end" fill ="none" (click)="presentActionSheet()">
      <ion-icon name = "menu" ></ion-icon>
    </ion-button>
      <ion-title style="text-align: center;">Promociones</ion-title>
  </ion-toolbar>
</ion-header>

<!--
<ion-card-header>
  <div class="titulo">
    <h2 style="text-align: center;">Promociones Vigentess</h2>
  </div>
</ion-card-header>

 <ion-content>
  <div *ngFor="let resta of restaurante$ | async">
    <div *ngFor="let promo of promociones$ | async">
      <ion-card>
      <div *ngIf="usuarioLog === resta.userUID && resta.userUID === promo.userUID">
        <img *ngIf="promo.fotosPromocion" src ="{{promo.fotosPromocion}}" width="100%" height="17%" margin-top="5px">
      </div>
    </ion-card>

    </div>
  </div>
</ion-content> 
 
<ion-slides  pager ="true" class="slides">
  <ion-slide *ngFor="let pro of promoHabilitados">   
    <div>
      <img [src] ="pro.fotosPromocion">
    </div>
  </ion-slide>
</ion-slides>
-->

<ion-content>

  <div *ngFor ="let resta of restaurante$ | async">
    <div *ngIf ="resta.userUID === usuarioLog">
      <ng-template [ngIf] = "resta.resVerificado === 'Aprobado'">
        <ion-card>
          <ion-card-header>
            <div class="titulo">
              <h2 style="text-align: center;">Nueva Promoción</h2> 
            </div>
          </ion-card-header>
        
          <ion-card-content>
            <form class="ion-padding" [formGroup] ="foto" (submit)="AlertSubida()">
              <ion-card-content>
                <ion-button onclick="document.getElementById('input_subida').click()" type="button" expand="block" >
                <ion-icon name="save" slot="start"></ion-icon>
                  Elegir promoción</ion-button>
                  <p style="text-align: center; color: black;" *ngIf="estaSeleccionado">{{file}}</p> 
                <input id="input_subida" style="display: none" type="file" formControlName="inputFile" accept="image/x-png,image/jpeg" (change)="elegirImagen($event)" required>
              </ion-card-content>

              <ion-card-content *ngIf="estaSeleccionado">
                <ion-button [disabled] ="foto.invalid" type="submit" expand="block" color="danger">
                <ion-icon name="save" slot="start"></ion-icon>
                Agregar Promoción</ion-button>
              </ion-card-content>

              <!-- <ion-button [disabled] ="foto.invalid" type="submit">Agregar Promocion</ion-button> -->
            </form>
          </ion-card-content>
        
        </ion-card>
      </ng-template>
      <ng-template [ngIf] = "resta.resVerificado === 'En Revision'">
        <p style="text-align: center;">Tu Restaurante esta siendo Verificado</p>
      </ng-template>
      <ng-template [ngIf] = "resta.resVerificado === 'Rechazado'">
        <p style="text-align: center;">Tu Restaurante fue rechazado vuelve a realizar
        la solicitud en nuestra pagina web</p>
        <br>
        <p style="text-align: center;">Alli te explicaremos el motivo del rechazo</p>
      </ng-template>
    </div>
  </div>
  
</ion-content>
