<ion-header>
  <ion-toolbar >
    <ion-button slot="start" fill ="none" routerLink="/listado">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">Sugerencias Rechazadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ng-template [ngIf]="validarDatos(existeDatos) === true">
    <div *ngFor="let res of restaurante$ | async">
  <div *ngFor = "let q of quejas$ | async">
    <div *ngIf = "usuarioLog === q.uidUsu">

      <ng-template [ngIf]=" res.userUID === q.uidResta && q.estado === 'falso'">
      <ion-card >
        <ion-card-header>
          <p style="text-align: center;">Tu sugerencia ha sido <b style="color: red;">Rechazada</b> </p>
          <br>
          <div class="imagen">
            <img *ngIf="q.fotoResta;else foto" [src]="q.fotoResta" width="140px">
          </div>
          <ion-card-subtitle>
            &nbsp;<ion-icon name="person"></ion-icon>&nbsp;
            Restaurante: {{q.nombreResta}} 
          </ion-card-subtitle>
          <ion-card-subtitle>
            &nbsp;<ion-icon name="alert"></ion-icon>&nbsp;
            Tipo: {{q.tipo}} &nbsp;<br>
          </ion-card-subtitle> 
          <ion-card-subtitle>
            &nbsp;<ion-icon name="bowtie"></ion-icon>&nbsp;
            Motivo: {{q.motivo}} &nbsp;<br> 
          </ion-card-subtitle>
          <ion-card-header>
            <ion-button color = "danger"><ion-icon name="close-circle"></ion-icon></ion-button>
          </ion-card-header>
        </ion-card-header>
        </ion-card>
      </ng-template>
    </div>
  </div>
</div>

  <ng-template #foto>
    <img src = "../../../assets/foto.png" width="10px">
  </ng-template>

</ng-template>

<ng-template [ngIf]="validarDatos(existeDatos) === false">
  <ion-card class="sinDatos">
    <ion-item>
      <ion-label></ion-label> 
    </ion-item>
  
    <ion-card-content style="text-align: center;">
      No cuentas con sugerencias rechazadas, puedes realizar tus sugerencias en
      Restaurantes Afiliados 
    </ion-card-content>
    <ion-item>
      <ion-label></ion-label>
    </ion-item>
  </ion-card>
</ng-template>

</ion-content>