<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill ="none" routerLink="/perfil">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">Sugerencias fallidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ng-template [ngIf]="validarDatos(existeDatos) === true">
  <div *ngFor="let res of restaurante$ | async">
  <div *ngFor = "let q of quejas$ | async">
    <div *ngIf = "usuarioLog === q.uidResta">
      <ng-template [ngIf]=" res.userUID === q.uidResta && q.estado === 'falso'">
      <ion-card>
        <ion-card-header>
          <div class="imagen">
            <img style="margin-left: 50px; margin-bottom: 20px;" *ngIf="q.fotoUsu;else foto" src="{{q.fotoUsu}}" width="140px">
          </div>
        </ion-card-header>
        <ion-card-subtitle>
          &nbsp;
          <h6>&nbsp;
            <ion-icon name="person"></ion-icon>&nbsp;
          {{q.nombre}}
          </h6>
          <h6>&nbsp;
            <ion-icon name="phone-portrait"></ion-icon>&nbsp;
          {{q.numero}}
          </h6>
          <h6>&nbsp;
            <ion-icon name="alert"></ion-icon>&nbsp;
          {{q.tipo}}
          </h6>
          <h6>&nbsp;
            <ion-icon name="bowtie"></ion-icon>&nbsp;
          {{q.motivo}}
          </h6>
          <h6>&nbsp;
            <ion-icon name="sad"></ion-icon>&nbsp;
          {{q.rechazo}}
          </h6>
        </ion-card-subtitle>
        <ion-card-header>
          <ion-button  color="danger" (click)="eliminarQueja(q.id)"><ion-icon name="close"></ion-icon>Eliminar</ion-button>
        </ion-card-header>
          
      </ion-card>
    </ng-template>
    </div>
  </div>
</div>

  <ng-template #foto>
    <img style="margin-left: 50px; margin-bottom: 50px;" src = "../../../assets/foto.png" width="140px">
  </ng-template>

</ng-template>

<ng-template [ngIf]="validarDatos(existeDatos) === false">
  <ion-card class="sinDatos">
    <ion-item>
      <ion-label></ion-label> 
    </ion-item>
  
    <ion-card-content style="text-align: center;">
      No cuentas con sugerencias rechazadas por el momento
    </ion-card-content>
    <ion-item>
      <ion-label></ion-label>
    </ion-item>
  </ion-card>
</ng-template>

</ion-content>