<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="none" (click)="goRegreso()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>

    <ion-title>Restaurantes afiliados</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
    <div *ngFor="let a of afiliados$ | async">
        <div *ngIf="usuarioLog === a.uidUsu && r.userUID === a.uidResta && a.estado === 'verdadero'">
          <div style="display: inline; grid-template-columns: 1fr 1fr;">
            <ion-card  >
              <div class="titulo">
                <h2 style="text-align: center;">{{r.nombreRestaurante}}</h2>
              </div>
              <img class="imgRes" [src]="r.imagenRes" *ngIf="r.imagenRes">
              
                <form [formGroup] ="calificar" (ngSubmit) = "presentAlertConfirm(r.id, r.userUID)" style="text-align: center;">
                  <p class="clasificacion">
                    <input id="radio1" type="radio" formControlName="estrellas" value="5">
                    <label for="radio1">★</label>
                    <input id="radio2" type="radio" formControlName="estrellas" value="4">
                    <label for="radio2">★</label>
                    <input id="radio3" type="radio" formControlName="estrellas" value="3">
                    <label for="radio3">★</label>
                    <input id="radio4" type="radio" formControlName="estrellas" value="2">
                    <label for="radio4">★</label>
                    <input id="radio5" type="radio" formControlName="estrellas" value="1">
                    <label for="radio5">★</label>
                  </p>
                  <ion-button [disabled] ="calificar.invalid" type = "submit" expand = "block" id="este">
                    <p>Calificar</p> 
                  </ion-button>
                </form>
              
           
              <ion-button color="danger" (click) ="presentModal(r.userUID)">Realizar Reserva</ion-button>
    
            </ion-card> 
            <br>
          </div>
           
        </div>
     
    </div>

</ion-content>