.titulo{
    border: 6px solid #1dbfd4;
    border-radius: 3%;
    background-color: #1dbfd4;
    color: white;
  }

ion-toolbar{
  --background: #eeeeee ;
  --opacity: 5.9;
}

ion-card .calificacion{
  width: 50%;
  max-width: 500px;
  margin-left: 25%;
}