<ion-header>
    <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon src="../../../assets/fast-food-outline.svg" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon src="../../../assets/fast-food-outline.svg" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mi Restaurante</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <div class="titulo">
        <h2 style="text-align: center;">Restaurante</h2>
      </div>
      <div *ngFor ="let resta of restaurante$ | async">
        <div *ngIf ="resta.userUID === usuarioLog">

          <ng-template [ngIf] = 'resta.promedio >= 1 && resta.promedio <=  1.9'>
            <img src="../../../assets//icon/1estrellas.jpg">
          </ng-template>
          <ng-template [ngIf] = "resta.promedio >= 2 && resta.promedio <=  2.9">
            <img src="../../../assets//icon/2estrellas.jpg">
          </ng-template>
          <ng-template [ngIf] = "resta.promedio >= 3 && resta.promedio <=  3.9">
            <img src="../../../assets//icon/3estrellas.jpg">
          </ng-template>
          <ng-template [ngIf] = "resta.promedio >= 4 && resta.promedio <=  5">
            <img src="../../../assets//icon/4estrellas.jpg">
          </ng-template>

          <img *ngIf="resta.imagenRes ; else foto" src ="{{resta.imagenRes}}" width="100%" height="17%" margin-top="5px">
                
          <ion-list>
            <ion-item>
              <h6><b>Nombre: </b>{{resta.nombreRestaurante}}</h6>
            </ion-item>
            <ion-item>
              <h6><b>Tipo: </b>{{resta.tipoRestaurante}}</h6>
            </ion-item>
            <ion-item>
              <h6><b>Hora de Apertura: </b>{{resta.horaApertura}} &nbsp;A.M</h6>
            </ion-item>
            <ion-item>
              <h6><b>Hora de Cierre: </b>{{resta.horaCierre}}&nbsp; P.M</h6>
            </ion-item>
            <ion-item>
              <h6><b>Dirección: </b>{{resta.direccionRestaurante}}</h6>
            </ion-item>
            <ion-item>
              <h6><b>Capacidad: </b>{{resta.capacidadRestaurante}} &nbsp; personas</h6>
            </ion-item>
          </ion-list>
      
          <ng-template #foto>
            <img src = "../../../assets/foto.png"  width="100%" height="17%" margin-top="5px">
          </ng-template>
      
        </div>
      </div>
      <ion-card-content>
        <ion-button expand="block" color="danger" routerLink="/perfil">
        <ion-icon src="../../../assets/arrow-undo-circle.svg" slot="start"></ion-icon>
        Regresar</ion-button>
      </ion-card-content>

    </ion-card-header>
  </ion-card>
  

</ion-content>
