<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill ="none" routerLink="/tabs-menu/almuerzo">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-title>Menú del día</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list lines="full">
    <ion-item *ngIf="almuerzo">
      <ion-select placeholder="Tipo  de Almuerzo" required type="text" [(ngModel)]="almuerzo.tipoAlmuerzo">
        <ion-select-option>Normal</ion-select-option>
        <ion-select-option>Especial</ion-select-option> 
      </ion-select>
    </ion-item>
    <ion-item *ngIf="almuerzo">
      <ion-input required type="text" placeholder="Entrada" [(ngModel)]="almuerzo.entradaAlmuerzo"></ion-input>
    </ion-item>
    <ion-item *ngIf="almuerzo">
      <ion-input required type="text" placeholder="Segundo" [(ngModel)]="almuerzo.segundoAlmuerzo"></ion-input>
    </ion-item>
    <ion-item *ngIf="almuerzo">
      <ion-input required type="text" placeholder="Bebida" [(ngModel)]="almuerzo.jugoAlmuerzo"></ion-input>
    </ion-item>
    <ion-item *ngIf="almuerzo">
      <ion-input required type="number" placeholder="Precio" [(ngModel)]="almuerzo.precioAlmuerzo"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveAlmuerzo()">Guardar</ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
      <ion-fab-button color="danger" *ngIf="almuerzo" (click)="onRemoveAlmuerzo(almuerzoID)">
          <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>