<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Aprobados">
        <ion-icon name="checkbox-outline"></ion-icon>
        <ion-label>Aprobados</ion-label>
        <ion-badge>{{contador}}</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="Pendientes">
        <ion-icon name="clock"></ion-icon>
        <ion-label>Pendientes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="Rechazados">
        <ion-icon name="close-circle"></ion-icon>
        <ion-label>Rechazados</ion-label>
      </ion-tab-button>
    
      <ion-tab-button tab="Sugerencias">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Sugerencias</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>