<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill ="none" routerLink="/perfil">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">
      Menú del día
    </ion-title>
  </ion-toolbar>
</ion-header>
 <ion-content>
  <ion-list>
    <ng-container *ngIf="!especialUser || especialUser.length == 0">
      <div *ngFor="let n of [0]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>Sin datos...
          <ion-skeleton-text class="text-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
    <ion-item-sliding *ngFor="let espe of especialUser" (click)="openEsp(espe)">

      <!-- [routerLink]="['/lista-especial', espe.id]" -->
      
      <ion-card button>
        <ion-card-header >
          <!-- <div class="imagen">
            <img src="../../../assets/menu.png" width="140px">
          </div> -->
          <p class="almuerzoActivo" *ngIf="espe.estado === 'Activo'">
            <ion-icon name="information-circle"></ion-icon>&nbsp;
            {{espe.estado}}</p>
          <p class="almuerzoOculto" *ngIf="espe.estado === 'Deshabilitado'">
            <ion-icon name="information-circle"></ion-icon>&nbsp;
            {{espe.estado}}</p>
        </ion-card-header>
        <ion-card-subtitle>
          <h6>
            <ion-icon src="../../../assets/fast-food.svg"></ion-icon>&nbsp;
            Nombre: 
            {{espe.platoEspecial}}
          </h6>
          <h6>Ingredientes</h6>
          <div *ngFor="let i of espe.ingredientes">
            <p style="color: black;">- {{i['ingrediente']}}</p>
          </div>
          <ion-item>
            <ion-button fill="outline" slot="end"><ion-icon name="pricetag" slot="start"></ion-icon>{{espe.precioEspecial}}
            </ion-button>
          </ion-item>
        </ion-card-subtitle>
      </ion-card>

      <ion-item-options side="end">
        <ion-item-option (click)="onRemove(espe)" color="secondary">
          Check
          <ion-icon name="checkmark" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
 <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/lista-especial" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 </ion-content>