ion-toolbar{
    --background: #eeeeee ;
    --opacity: 5.9;
  }

ion-card .imagen{
    position: absolute;
    left: 50%;
    top: 40px;
    width: 150px;
    border-radius: 50%;

  }

  h6{
    color: black;
  }

  .almuerzoActivo{
    padding-left: 5px;
    color: green;
  }
  
  .almuerzoOculto{
    padding-left: 5px;
    color: red;
  }

  .sinDatos{
    margin-top: 15%;
   padding: 10% 0% 10% 0%;
   width: 60%;
     display: grid;
     margin-left: 80px;
  }