<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="none" (click)="goMapa()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>

    <ion-title>Restaurantes Afiliados</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ng-template [ngIf]="validarDatos(existeDatos) === true">
  
    <div *ngFor="let a of afiliados$ | async">
      <div *ngFor="let r of restaurante$ | async">
        <div *ngIf="usuarioLog === a.uidUsu && r.userUID === a.uidResta && a.estado === 'verdadero'">
          <div style="display: inline; grid-template-columns: 1fr 1fr;">
            <ion-card>
              <div class="titulo">
                <h2 style="text-align: center;">{{r.nombreRestaurante}}</h2>
              </div>
              <img class="imgRes" [src]="r.imagenRes" *ngIf="r.imagenRes">
              <div *ngIf="a.estado ==='verdadero'"> 
                <form [formGroup] ="calificar" (ngSubmit) = "presentAlertConfirm(r.id, r.userUID)" style="text-align: center;">
                  <p class="clasificacion">
                    <input id="radio1" type="radio" formControlName="estrellas" value="5">
                    <label for="radio1">★</label>
                    <input id="radio2" type="radio" formControlName="estrellas" value="4">
                    <label for="radio2">★</label>
                    <input id="radio3" type="radio" formControlName="estrellas" value="3">
                    <label for="radio3">★</label>
                    <input id="radio4" type="radio" formControlName="estrellas" value="2">
                    <label for="radio4">★</label>
                    <input id="radio5" type="radio" formControlName="estrellas" value="1">
                    <label for="radio5">★</label>
                  </p>
                  <ion-button [disabled] ="calificar.invalid" type = "submit" expand = "block" id="este">
                    <p>Calificar</p> 
                  </ion-button>
                </form>
              </div>
           
              <ion-button *ngIf="a.estado ==='verdadero'" color="danger" (click) ="presentModal(r.userUID)">Realizar Reserva</ion-button>
    
            </ion-card> 
            <br>
          </div>
           
        </div>
      </div>
    </div>
    

    <!-- Validar Funcionamiento -->
  <!-- <ng-container *ngFor="let a of listAfiliados" >
    <div style="display: grid; grid-template-columns: 1fr 1fr;">
      <ion-card *ngFor="let r of listRestaurantes">
        <ion-card-header *ngIf="r.userUID === a.uidResta">
          <img [src]="r.imagenRes" alt="">
          <p>{{a.estado}}</p>
          <p>{{r.nombreRestaurante}}</p>
        </ion-card-header>
    </ion-card>
    </div>
  </ng-container> -->

  </ng-template>

  <ng-template [ngIf]="validarDatos(existeDatos) === false" >

    <ion-card class="sinDatos">
      <ion-item>
        <!-- <ion-icon name="restaurant" slot="start"></ion-icon>
        <ion-icon name="restaurant" slot="end"></ion-icon> -->
        <ion-label></ion-label>
        
      </ion-item>
    
      <ion-card-content style="text-align: center;">
        No cuentas con restaurantes afiliados 
      </ion-card-content>
      <ion-item>
        <ion-label></ion-label>
      </ion-item>
    </ion-card>
  </ng-template>

</ion-content>