<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill ="none" routerLink="/tabs-menu/desayuno">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-title>Menú del día</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- <ion-list lines="full">
  <ion-item *ngIf="desayunoID">
      <ion-select placeholder="Estado" required type="text" [(ngModel)]="desayuno.estado">
        <ion-select-option>Activo</ion-select-option>
        <ion-select-option>Deshabilitado</ion-select-option> 
      </ion-select>
    </ion-item>
    <ion-item *ngIf="desayuno">
      <ion-input required type="text" placeholder="Plato" [(ngModel)]="desayuno.platoDesayuno"></ion-input>
    </ion-item>
    <ion-item *ngIf="desayuno">
      <ion-input required type="text" placeholder="Detalle" [(ngModel)]="desayuno.detalleDesayuno"></ion-input>
    </ion-item>
    <ion-item *ngIf="desayuno">
      <ion-input required type="text" placeholder="Precio $" [(ngModel)]="desayuno.precioDesayuno"></ion-input>
    </ion-item>
  </ion-list> -->

  <ion-card>
    <form [formGroup]="miform" (ngSubmit)="onSubmit(miform.value)">
      <ion-item *ngIf="desayunoID">
        <ion-select placeholder="Estado" required type="text" formControlName="estado">
          <ion-select-option>Activo</ion-select-option>
          <ion-select-option>Deshabilitado</ion-select-option> 
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Tipo desayuno:</ion-label>
      <ion-input type="text" formControlName="platoDesayuno" maxlength="30"></ion-input>
    </ion-item>
    <div >
      <ng-container *ngFor ="let error of errorMensajes.platoDesayuno">
        <div class="e" *ngIf ="miform.get('platoDesayuno').hasError(error.type) && (miform.get('platoDesayuno').dirty || miform.get('platoDesayuno').touched)">
          {{error.message}}
        </div>
      </ng-container> 
    </div>
      <ion-item>
        <ion-label>Desayuno:</ion-label>
        <ion-input type="text" formControlName="detalleDesayuno" maxlength="30"></ion-input>
      </ion-item>
      <div >
        <ng-container *ngFor ="let error of errorMensajes.detalleDesayuno">
          <div class="e" *ngIf ="miform.get('detalleDesayuno').hasError(error.type) && (miform.get('detalleDesayuno').dirty || miform.get('detalleDesayuno').touched)">
            {{error.message}}
          </div>
        </ng-container> 
      </div>
      <ion-item>
        <ion-label>Precio: </ion-label>
        <ion-input type='text' placeholder="$$,$$" formControlName="precioDesayuno" maxlength="5"></ion-input>
      </ion-item>
      <div >
        <ng-container *ngFor ="let error of errorMensajes.precioDesayuno">
          <div class="e" *ngIf ="miform.get('precioDesayuno').hasError(error.type) && (miform.get('precioDesayuno').dirty || miform.get('precioDesayuno').touched)">
            {{error.message}}
          </div>
        </ng-container> 
      </div>
      <ion-item>
        <ion-label>Ingredientes:</ion-label>
      </ion-item>
  
      <div formArrayName="ingredientes" style="margin-left: 5%;">
        <div *ngFor="let person of ingre.controls; let i=index;">
          <ion-item  [formGroupName]="i">
            <ion-input maxlength="15" type="text" formControlName="ingrediente"></ion-input>
            <ion-button color="danger" (click)="removeIngrediente(i)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
          
        </div>
        <ion-item>
          <ion-button (click)="addIngredientes()">
            <ion-icon name="add"></ion-icon>
            Agregar
          </ion-button>
        </ion-item>
    </div> 
      <ion-button expand="full"  type="submit" [disabled]="!miform.valid">Guardar</ion-button>
      <!-- <button ion-button type="submit" [disabled]="!miform.valid">Submit</button> -->
    </form>
  </ion-card>
</ion-content>