<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill ="none" (click) ="goRegreso()">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">Actualizar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <div *ngFor="let usu of usuarios$ | async">
        <div *ngIf  ="usu.uid === usuarioLog">
          <ion-slides  options={{slideOpts}} pager ="true" class="slides">
            <ion-slide *ngFor="let foto of fotos$ | async"  class="slide" style="padding-bottom: 25px;">
              <div class="foto">
                <img  id="avatar" src= {{foto.foto}}  class="foto"> 
              </div>
          
              <div>
                <ion-button expand="block" (click)="presentarMensaje(usu.uid ,foto.id)">
                  Cambiar Avatar
                <ion-icon slot="end" name ="refresh"></ion-icon>
                </ion-button>
                  
              </div>
              
            </ion-slide>
          </ion-slides>
        </div>
      </div>

         
              <form [formGroup] ="actualizar" (ngSubmit) = "actualizarUsuario(actualizar.value)">
                <ion-list>
                  <ion-item>
                    <ion-input placeholder="Nombre" formControlName="nombre" maxlength ="20"
                    minlength ="3"></ion-input>
                    <ion-button color="success" [disabled] ="actualizar.invalid" type = "submit">
                      <ion-icon slot="end" name ="refresh"></ion-icon>
                      
                    </ion-button>
                  </ion-item>
                  <div >
                    <ng-container *ngFor ="let error of errorMensajes.nombre">
                      <div class="e" *ngIf ="actualizar.get('nombre').hasError(error.type) && (actualizar.get('nombre').dirty || actualizar.get('nombre').touched)">
                        {{error.message}}
                      </div>
                    </ng-container> 
                  </div>
                </ion-list>
              </form>
         
            <form [formGroup] ="actualizar3" (ngSubmit) = "actualizarUsuarioApellido(actualizar3.value3)">
              <ion-list>
                <ion-item>
                  <ion-input placeholder="Apellido" formControlName="apellido" maxlength ="20"
                  minlength ="3"></ion-input>
                  <ion-button  color="success" [disabled] ="actualizar3.invalid" type = "submit" >
                
                    <ion-icon slot="end" name ="refresh"></ion-icon>
                  </ion-button>
                </ion-item>
                <div >
                  <ng-container *ngFor ="let error of errorMensajes.nombre">
                    <div class="e" *ngIf ="actualizar3.get('apellido').hasError(error.type) && (actualizar3.get('apellido').dirty || actualizar3.get('apellido').touched)">
                      {{error.message}}
                    </div>
                  </ng-container> 
                </div>
              </ion-list>
            </form>

      <form [formGroup] ="actualizar2" (ngSubmit) = "actualizarUsuarioNumero(actualizar2.value)">
        <ion-list>
          <ion-item>
            <ion-input placeholder="Teléfono" formControlName="numero" type="text" maxlength="10"></ion-input>
            <ion-button color="success" [disabled] ="actualizar2.invalid" type = "submit">
              
              <ion-icon slot="end" name ="refresh"></ion-icon>
            </ion-button>
          </ion-item>
          <div >
            <ng-container *ngFor ="let error of errorMensajes.numero">
              <div class="e" *ngIf ="actualizar2.get('numero').hasError(error.type) && (actualizar2.get('numero').dirty || actualizar2.get('numero').touched)">
                {{error.message}}
              </div>
            </ng-container> 
          </div>
          <ion-card-content>
            
          </ion-card-content>
        </ion-list>
      </form>

      <p>Para cambiar tu contraseña es necesario que ingreses tu correo</p>

      <form [formGroup] ="actualizar4" (ngSubmit) = "actualizarUsuarioContra(actualizar4.value)">
        <ion-list>
          <ion-item>
            <ion-input placeholder="Email" formControlName="email" type="text" maxlength="40"></ion-input>
            <ion-button color="success" [disabled] ="actualizar4.invalid" type = "submit">
              
              <ion-icon slot="end" name ="send"></ion-icon>
            </ion-button>
          </ion-item>
          <div >
            <ng-container *ngFor ="let error of errorMensajes.email">
              <div class="e" *ngIf ="actualizar4.get('email').hasError(error.type) && (actualizar4.get('email').dirty || actualizar4.get('email').touched)">
                {{error.message}}
              </div>
            </ng-container> 
          </div>
          <ion-card-content>
            
          </ion-card-content>
        </ion-list>
      </form>

    </ion-card-header>  
  </ion-card>

</ion-content>

<hr>

