.e{
    color: red;
    font-size: 10px;
    margin: 0%;
    padding: 0%;
}


.titulo{
    border: 6px solid #1dbfd4;
    border-radius: 3%;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    background-color: #1dbfd4;
    color: white;
  }

  ion-toolbar{
    --background: #eeeeee ;
  }


  