<ion-header>
  <ion-toolbar >
    <ion-button slot="start" fill ="none" (click)= "goRegreso()">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">Afiliados Rechazados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ng-template [ngIf]="validarDatos(existeDatos) === true" >
      
  <div *ngFor = "let afi of afiliados$ | async"> 
    <div *ngIf = "usuarioLog === afi.uidResta">
      <ion-card *ngIf = "afi.estado === 'falso'">
        <ion-card-header>
          <div class="imagen">
            <img src="{{afi.fotoAfi}}" width="140px">
          </div>
        </ion-card-header>
        <ion-card-subtitle>
          &nbsp;
          <h6>&nbsp;
            <ion-icon name="person"></ion-icon>&nbsp;
          {{afi.nombre}}
          </h6>
          <h6>&nbsp;
            <ion-icon name="phone-portrait"></ion-icon>&nbsp;
          {{afi.numero}}
          </h6>
          <h6>&nbsp;
            <ion-icon name="flag"></ion-icon>&nbsp;
          {{afi.motivo}}
          </h6>
        </ion-card-subtitle>
        <ion-card-header>
          <ion-button color="danger" (click)="eliminarAfiliacion(afi.id)"><ion-icon name="trash"></ion-icon></ion-button>
          <!-- <ion-button color="secondary" (click)="aceptarReserva(reser.uid)" ><ion-icon name="checkmark-circle"></ion-icon>Aceptar&nbsp;</ion-button> -->
          <!-- <ion-button  color="danger" (click)="rechazarReserva(reser.uid)"><ion-icon name="close"></ion-icon>Rechazar</ion-button> -->
        </ion-card-header>
          
      </ion-card>
    </div>
   
  </div>      
</ng-template>


      <ng-template [ngIf]="validarDatos(existeDatos) === false" >

    <ion-card class="sinDatos">
      <ion-item>
        <!-- <ion-icon name="restaurant" slot="start"></ion-icon>
        <ion-icon name="restaurant" slot="end"></ion-icon> -->
        <ion-label></ion-label>
        
      </ion-item>
    
      <ion-card-content style="text-align: center;">
        No cuentas con restaurantes afiliados 
      </ion-card-content>
      <ion-item>
        <ion-label></ion-label>
      </ion-item>
    </ion-card>
  </ng-template>

</ion-content>