<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill ="none" (click)="presentActionSheet()">
      <ion-icon name = "menu" ></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">Restaurantes</ion-title>
  </ion-toolbar>
</ion-header><br>

  <!-- Promociones con Slides no funcionan -->


  <!--
  <ion-card-header>
    <div  class="titulo">
      <h2 style="text-align: center;">Promociones</h2>
    </div>
  </ion-card-header>
  -->
 
    <ion-slides  pager ="true" class="slides">
      <ion-slide *ngFor="let pro of promoHabilitados" (click)="openPromo(pro)">   
        <div>
          <img [src] ="pro.fotosPromocion">
        </div><br>
      </ion-slide>
      <ion-slide>
        <div>
          <ion-button color="danger" (click)="verMas()">Ver mas -></ion-button></div>
      </ion-slide>
    </ion-slides>

    <ion-searchbar
    showcancelbutton=""
    (ionInput)="filterList2($event)"  
  ></ion-searchbar>

  <ion-content>

  <ion-content [fullscreen]="true">


    <div style="display: grid; grid-template-columns: 1fr 1fr;">
      <ion-card  *ngFor="let res of resHabilitados"  (click) ="openRes(res)">
        <ion-card-header>
          <ion-card-subtitle style="text-align: center;">{{res.tipoRestaurante}}</ion-card-subtitle>
          <ion-card-title style="text-align: center;">{{res.nombreRestaurante}}</ion-card-title>
        </ion-card-header>
        <img *ngIf="res.imagenRes ; else foto" src = "{{res.imagenRes}}">
        <ion-card-content>
          <ng-template [ngIf]='res.promedio >= 1 && res.promedio <= 1.9'>
            <!-- <ion-card-title>{{res.promedio}}
              <ion-icon *ngIf="res.promedio === 1" name="star"></ion-icon>
              <ion-icon *ngIf="res.promedio != 1" name="star-half"></ion-icon>
            </ion-card-title> -->
            <img class="estrellas" src="../../../assets//icon/1estrellas.jpg" width="10px" height="50px">
          <ion-list>Hora de atencion: {{res.horaApertura}} - {{res.horaCierre}}</ion-list>
          </ng-template>
          <ng-template [ngIf]="res.promedio >= 2 && res.promedio <=  2.9">
            <!-- <ion-card-title>{{res.promedio}}
              <ion-icon *ngIf="res.promedio === 2" name="star"></ion-icon>
              <ion-icon *ngIf="res.promedio != 2" name="star-half"></ion-icon>
            </ion-card-title> -->
            <img class="estrellas" src="../../../assets//icon/2estrellas.jpg">
          <ion-list>Hora de atencion: {{res.horaApertura}} - {{res.horaCierre}}</ion-list>
          </ng-template>
          <ng-template [ngIf]="res.promedio >= 3 && res.promedio <=  3.9">
            <!-- <ion-card-title>{{res.promedio}}
              <ion-icon *ngIf="res.promedio === 3" name="star"></ion-icon>
              <ion-icon *ngIf="res.promedio != 3" name="star-half"></ion-icon>
            </ion-card-title> -->
            <img class="estrellas" src="../../../assets//icon/3estrellas.jpg">
          <ion-list>Hora de atencion: {{res.horaApertura}} - {{res.horaCierre}}</ion-list>
          </ng-template>
          <ng-template [ngIf]="res.promedio >= 4 && res.promedio <=  4.9">
            <!-- <ion-card-title>{{res.promedio}}
              <ion-icon *ngIf="res.promedio === 4" name="star"></ion-icon>
              <ion-icon *ngIf="res.promedio != 4" name="star-half"></ion-icon>
            </ion-card-title> -->
            <img class="estrellas" src="../../../assets//icon/4estrellas.jpg">
          <ion-list>Hora de atencion: {{res.horaApertura}} - {{res.horaCierre}}</ion-list>
          </ng-template>
          <ng-template [ngIf]="res.promedio >= 5">
            <!-- <ion-card-title>{{res.promedio}}
              <ion-icon *ngIf="res.promedio === 5" name="star"></ion-icon>
            </ion-card-title> -->
            <ion-list>
              <img class="estrellas" src="../../../assets//icon/5estrellas.jpg" >
            </ion-list>
          <ion-list>Hora de atencion: {{res.horaApertura}} - {{res.horaCierre}}</ion-list>
          </ng-template>
        </ion-card-content>
  
      </ion-card>
  
    </div>
  </ion-content>

  <ng-template #foto>
    <img src = "../../../assets/foto.png">
  </ng-template>
  

</ion-content>
