<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill ="none" routerLink="/perfil">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-title>
      Menú del día
    </ion-title>
  </ion-toolbar>
</ion-header>
 <ion-content>
  <ion-list>
    <ng-container *ngIf="!desayunoUser || desayunoUser.length == 0">
      <div *ngFor="let n of [0]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>Sin Datos
          <ion-skeleton-text class="text-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
    <ion-item-sliding *ngFor="let des of desayunoUser">
      <ion-card button [routerLink]="['/lista-desayunos', des.id]">
        <ion-card-header >
          <div class="imagen">
            <img src="../../../assets/menu.png" width="140px">
          </div>
        </ion-card-header>
        <ion-card-subtitle>
          <p>{{des.estado}}</p>&nbsp;
          <h6>&nbsp;
            Plato:
            {{des.platoDesayuno}}
          </h6>
          <h6>&nbsp;
            Detalle:
           {{des.detalleDesayuno}} &nbsp;
          </h6>
          <ion-item>
            <ion-button fill="outline" slot="end"><ion-icon name="pricetag" slot="start"></ion-icon>{{des.precioDesayuno}}
            </ion-button>
          </ion-item>
        </ion-card-subtitle>
      </ion-card>
 
      <ion-item-options side="end">
        <ion-item-option (click)="onRemove(des)" color="secondary">
          Check
          <ion-icon name="checkmark" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
 <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/lista-desayunos" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 </ion-content>