<ion-header>
  <ion-toolbar >
    <ion-button slot="start" fill="none" (click)="goRegreso()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;"></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding"> 
    <ion-card>
      <ion-header>
        <img src="{{promocion.fotosPromocion}}" alt="">
      </ion-header>
    </ion-card>

    <div *ngFor="let resta of res">
      <ion-card class="infomacionCard" *ngIf="promocion.userUID === resta.userUID">
        <ion-card-header>
          <ion-card-subtitle>{{resta.tipoRestaurante}}</ion-card-subtitle>
        </ion-card-header>
        <ion-item>
          <ion-icon name="restaurant" slot="start"></ion-icon>
          <ion-label>{{resta.nombreRestaurante}}</ion-label>
          <ion-button fill="outline" slot="end"><ion-icon name="star" slot="start"></ion-icon>{{resta.promedio}}
          </ion-button>
        </ion-item>
  
        <ion-card-content>
          Este restaurante tiene una capacidad para {{resta.capacidadRestaurante}} personas, 
          se encuentra ubicado en: {{resta.direccionRestaurante}}, ven a visitarlo!
          El restaurante abre sus puertas a las {{resta.horaApertura}} a.m y cierra a las {{resta.horaCierre}} p.m.
        </ion-card-content>
      </ion-card>
    </div>


</ion-content>