<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill ="none" routerLink ="/home">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-title>Verificar Email</ion-title>
  </ion-toolbar>
</ion-header>
<br><br>
<ion-content>

  <ion-card>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>Enviar e-mail</ion-label>
      <ion-button (click)="presentAlert()" fill="outline" slot="end">Enviar</ion-button>
    </ion-item>
  
    <ion-card-content>
      Tu correo aun no ha sido verificado. 
    </ion-card-content>
  </ion-card>


  <!-- <ion-button (click) = "verificarEmail()"> Enviar Verificacion </ion-button> -->

</ion-content>
