<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill ="none" routerLink="/perfil">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
   
    <ion-title style="text-align: center;">Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngFor="let reser of reservas$ | async"> 
    <div *ngIf="usuarioLog === reser.uidResta && reser.estado.toString() === 'Rechazado'">
      <ion-card>
        <ion-card-header>
          <div class="imagen">
            <img src="../../../assets/logoU.png" width="140px">
          </div>
        </ion-card-header>
        <ion-card-subtitle>
          &nbsp;
          <h6>&nbsp;
            <ion-icon name="person"></ion-icon>&nbsp;
          {{reser.nombre}}
          </h6>
          <h6>&nbsp;
            <ion-icon name="phone-portrait"></ion-icon>&nbsp;
          {{reser.numero}}
          </h6>
          <h6>&nbsp;
            <ion-icon name="restaurant"></ion-icon>&nbsp;
          {{reser.mesas}}&nbsp; mesas
          </h6>
          <h6>&nbsp;
            <ion-icon name="time"></ion-icon>&nbsp;
          {{reser.tiempo}}&nbsp; minutos
          </h6>
          <h6>&nbsp;
            <ion-icon name="person"></ion-icon>&nbsp;
          {{reser.motivo}}&nbsp; 
          </h6>
        </ion-card-subtitle>
        <ion-card-header>
          <ion-button color="danger" (click)="alertEliminar(reser.uid)"><ion-icon name="trash"></ion-icon></ion-button>
          <!-- <ion-button color="secondary" (click)="aceptarReserva(reser.uid)" ><ion-icon name="checkmark-circle"></ion-icon>Aceptar&nbsp;</ion-button> -->
          <!-- <ion-button  color="danger" (click)="rechazarReserva(reser.uid)"><ion-icon name="close"></ion-icon>Rechazar</ion-button> -->
        </ion-card-header>
          
      </ion-card>
    </div>
   
  </div>


</ion-content>
