.slides {
    height: 16%;
    width: 100%;
}

.slide {
    display: grid;
}

label{ color:grey;}

input[type = "radio"]{ display:none;}

.clasificacion{
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
}

label:hover{color:orange;}

.mapa{
    border: 2px solid black;
}


