<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="none" (click)="goRegreso()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="none" (click)="getMenu()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">{{res.nombreRestaurante}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
     

<ion-card class="fotoResta">

  <ion-header>
    <img *ngIf="res.imagenRes ; else foto" src="{{res.imagenRes}}" width="100%" height="7%" margin-top="5px">
  </ion-header>
</ion-card>

<div class="botones">
  <ion-button color="medium" (click)="mostrarInformacion()">Información</ion-button>
  <ion-button color="medium" (click)="mostrarDesayuno()">Desayuno</ion-button>
  <ion-button color="medium" (click)="mostrarAlmuerzo()">Almuerzo</ion-button>
  <ion-button color="medium" (click)="mostrarEspecial()">Especial</ion-button>
  <ion-button color="medium" (click)="mostrarPromocion()">Promociones</ion-button>
  <ion-button color="medium" (click)="mostrarComentarios()">Comentarios</ion-button>
</div>

<div class="informacion" *ngIf="informacion">
  <ion-card class="infomacionCard">
    <ion-card-header>
      <ion-card-subtitle>{{res.tipoRestaurante}}</ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-icon name="restaurant" slot="start"></ion-icon>
      <ion-label>{{res.nombreRestaurante}}</ion-label>
      <ion-button fill="outline" slot="end"><ion-icon name="star" slot="start"></ion-icon>{{res.promedio}}
      </ion-button>
    </ion-item>

    <ion-card-content>
      Este restaurante tiene una capacidad para {{res.capacidadRestaurante}} personas, 
      se encuentra ubicado en: {{res.direccionRestaurante}}, ven a visitarlo!
      El restaurante abre sus puertas a las {{res.horaApertura}} a.m y cierra a las {{res.horaCierre}} p.m.

    </ion-card-content>
    <ion-card-content>
      <a (click)="mostrarBotonAfiliar()">¿Afiliarte a este restaurante?</a>
    </ion-card-content>
  </ion-card><hr>
  </div>
    <ng-template [ngIf]="existeAfiliacion(existeA) === false">
    <div class="afiliar" *ngIf="afiliar">
      <ion-card-content>
        Al Afiliarte a este restaurante obtendras varios beneficios.
      </ion-card-content>

      <form [formGroup]="afiliacion" (ngSubmit)="presentarMensaje(afiliacion.value)">
      <ion-card-content>
      
        <ion-button onclick="document.getElementById('input_subida').click()" type="button" expand="block" >
                <ion-icon name="save" slot="start"></ion-icon>
                  Elegir cupón</ion-button>
                  <p style="text-align: center; color: black;" *ngIf="estaSeleccionado">{{file}}</p> 
                <input id="input_subida" style="display: none" type="file" formControlName="inputFile" accept="image/x-png,image/jpeg" (change)="elegirImagen($event)" required>
      </ion-card-content>

      <ion-card-content *ngIf="estaSeleccionado">
        <ion-button [disabled] ="afiliacion.invalid"  type="submit" color="danger" expand="block">Afiliarse
          <ion-icon name="save" slot="start"></ion-icon>
        </ion-button>
      </ion-card-content>

      <ion-card-content>
        <a (click)="ocultarBotonAfiliar()">Cancelar</a>
      </ion-card-content>
    </form>
    </div>
    </ng-template>

    <ng-template [ngIf]="existeAfiliacion(existeA) === true">
      <div *ngIf="afiliar">
        <ion-card class="infomacionCard">
        <ion-card-content>
          Ya te encuentras afiliado o en proceso de afiliacion a este restaurante. Ve al menu -> Restaurantes afiliados
        </ion-card-content>  
        <ion-card-content>
        <a (click)="ocultarBotonAfiliar()">Cancelar</a>
      </ion-card-content>    
        </ion-card>
      </div>
    </ng-template>


   

<!-- Desayunos -->
<div class="desayuno" *ngIf="desayuno">


      <ion-slides  options={{slideOpts}} pager ="true" class="slides">
        <ion-slide *ngFor="let desa of desayunosRespectivos">   
          <ion-card class="infomacionCard">
            <ion-card-header >
              <div class="imagen">
                <img  src="../../../assets/menu.png" alt="des" width="100px" height="200px">
              </div>
            </ion-card-header>
            <ion-item>
              <ion-icon name="restaurant" slot="start"></ion-icon>
              <ion-label>{{desa.platoDesayuno}}</ion-label>
              <ion-button fill="outline" slot="end"><ion-icon name="pricetag" slot="start"></ion-icon>{{desa.precioDesayuno}}&nbsp;$
              </ion-button>
            </ion-item>
      
            <ion-card-content  style="text-align:left;">
              El desayuno del día es {{desa.detalleDesayuno}} <br>
              Ingredientes:
              <div *ngFor="let i of desa.ingredientes">
                
                  <ion-icon name="remove" slot="start"></ion-icon>
                  {{i['ingrediente']}} <br>
                
              </div>
              
            </ion-card-content>
            <br><br><br><br><br>
          </ion-card>
        </ion-slide>
      </ion-slides>
</div>

<!-- Almuerzos -->

<div class="almuerzos" *ngIf="almuerzo">
    <ion-slides  options={{slideOpts}} pager ="true" class="slides">
      <ion-slide *ngFor="let almu of almuerzosRespectivos">  
        <ion-card class="infomacionCard">
          <ion-card-header >
            <div class="imagen">
              <img src="../../../assets/almuerz.png" alt="des" width="100px" height="200px">
            </div>
          </ion-card-header>
          <ion-item>
            <ion-icon name="restaurant" slot="start"></ion-icon>
            <ion-label>Tipo: {{almu.entradaAlmuerzo}}</ion-label>
            <ion-button fill="outline" slot="end"><ion-icon name="pricetag" slot="start"></ion-icon>{{almu.precioAlmuerzo}} &nbsp;$
            </ion-button>
          </ion-item>
    
          <ion-card-content style="text-align:left;">
            <h5 style="color: black;">Entrada: {{almu.entradaAlmuerzo}} </h5>
            <h5 style="color: black;">Segundo: {{almu.segundoAlmuerzo}} </h5>
            <h5 style="color: black;">Bebida: {{almu.jugoAlmuerzo}}</h5>
          </ion-card-content>
          <br><br><br><br><br><br>
        </ion-card>
      </ion-slide>
    </ion-slides>
</div>

<!-- Especial -->

  <div class="especial" *ngIf="especiales">
    <ion-slides  options={{slideOpts}} pager ="true" class="slides">
      <ion-slide *ngFor="let espe of especialesRespectivos">  
        <ion-card class="infomacionCard2">
          <ion-card-header >
            <div class="imagen">
              <img src="../../../assets/menu.png" alt="des" width="100px" height="200px">
            </div>
          </ion-card-header>
          <ion-item>
            <ion-icon name="restaurant" slot="start"></ion-icon>
            <ion-label>{{espe.platoEspecial}}</ion-label>
            <ion-button fill="outline" slot="end"><ion-icon name="pricetag" slot="start"></ion-icon>{{espe.precioEspecial}}&nbsp;$
            </ion-button>
          </ion-item>
    
          <ion-card-content  style="text-align:left;">
            El Especial del dia:  {{espe.platoEspecial}} <br>
            Ingredientes:
            <div *ngFor="let i of espe.ingredientes">
              
                <ion-icon name="remove" slot="start"></ion-icon>
                {{i['ingrediente']}} <br>
            </div>
          </ion-card-content>
          <br><br><br><br><br>
        </ion-card>

      </ion-slide>
    </ion-slides>
    
  </div>

<!-- promociones -->

  <div class="promocion" *ngIf="promociones">

    <ion-slides pager ="true" class="slides">
      <ion-slide *ngFor="let pro of promosUsuario">   
        <div>
          <img [src]="pro.fotosPromocion">
        </div>
      </ion-slide>
    </ion-slides>
  </div>

<!-- comentarios -->

      <div class="comentarios" *ngIf="comentarios">
        <div *ngFor="let comen of comentarios$ | async">
          <div *ngIf="res.userUID === comen.uidResta">
            <ion-item>
              <h6>{{comen.nombreUsu}}</h6>&nbsp;&nbsp;&nbsp;
              {{comen.comentario}}
              <ion-button fill="outline" slot="end"><ion-icon name="star" slot="start"></ion-icon>{{comen.calificacion}}
              </ion-button>
            </ion-item>
             
          </div>
        </div>
      </div> 

<!-- Ubicacion -->

    <br>
    <ion-card *ngIf="informacion">
      <ion-card-header style="text-align: center;">Ubicación</ion-card-header>
    </ion-card>
    <br>

    <div *ngIf="informacion" class="mapa" id="Mapa" style="width: 95%; height: 80%; margin-left:10px;"></div>
    <div *ngIf="informacion">
    <div *ngFor="let coor of coordenadas$ | async">
      <div *ngIf="coor.userUID === res.userUID" >
        <ion-button style="margin-left: 25%" color="medium" (click)="mostrar(res.id, coor.lat, coor.lng )">¿Cómo Llegar?</ion-button>
      </div>
    </div>
    </div>

  <ng-template #foto>
    <img src="../../../assets/foto.png" width="100%" height="17%" margin-top="5px">
  </ng-template>

</ion-content>