<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="none" (click)="goRegreso()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="none" (click)="getMenu()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">{{res.nombreRestaurante}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
     

<ion-card class="fotoResta">
  <ion-header>
    <img *ngIf="res.imagenRes ; else foto" style="margin-right: 10px;" src="{{res.imagenRes}}" width="100%" height="7%" margin-top="5px">
  </ion-header>
</ion-card>

<div class="botones">
  <ion-button color="medium" (click)="mostrarInformacion()">Información</ion-button>
  <ion-button color="medium" (click)="mostrarDesayuno()">Desayuno</ion-button>
  <ion-button color="medium" (click)="mostrarAlmuerzo()">Almuerzo</ion-button>
  <ion-button color="medium" (click)="mostrarEspecial()">Especial</ion-button>
  <ion-button color="medium" (click)="mostrarPromocion()">Promociones</ion-button>
  <ion-button color="medium" (click)="mostrarComentarios()">Comentarios</ion-button>
</div>

<div class="informacion" *ngIf="informacion">
  <ion-card class="infomacionCard">
    <ion-card-header>
      <ion-card-subtitle>{{res.tipoRestaurante}}</ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-icon name="restaurant" slot="start"></ion-icon>
      <ion-label>{{res.nombreRestaurante}}</ion-label>
      <ion-button fill="outline" slot="end"><ion-icon name="star" slot="start"></ion-icon>{{res.promedio}}
      </ion-button>
    </ion-item>

    <ion-card-content>

      <ng-template [ngIf]="res.tipoRestaurante === 'Restaurante'">
        Este restaurante tiene una capacidad para {{res.capacidadRestaurante}} personas, 
        se encuentra ubicado en: {{res.direccionRestaurante}}, ven a visitarlo!
        El restaurante abre sus puertas a las {{res.horaApertura}} a.m y cierra a las {{res.horaCierre}} p.m.
  
      </ng-template>
      <ng-template [ngIf]="res.tipoRestaurante === 'Kioscos de comida'">
        Este kiosko se encuentra ubicado en: {{res.direccionRestaurante}}, ven a visitarlo!
        El kiosko abre sus puertas a las {{res.horaApertura}} a.m y cierra a las {{res.horaCierre}} p.m.
  
      </ng-template>

     
    </ion-card-content>
    <ion-card-content>
      <a (click)="mostrarBotonAfiliar()">¿Afiliarte a este restaurante?</a>
    </ion-card-content>
  </ion-card><hr>
  </div>
    <ng-template [ngIf]="existeAfiliacion(existeA) === false">
    <div class="afiliar" *ngIf="afiliar">
      <ion-card-content>
        Al Afiliarte a este restaurante obtendras varios beneficios.
      </ion-card-content>

      <form [formGroup]="afiliacion" (ngSubmit)="presentarMensaje(afiliacion.value)">
      <ion-card-content>
      
        <ion-button onclick="document.getElementById('input_subida').click()" type="button" expand="block" >
                <ion-icon name="save" slot="start"></ion-icon>
                  Elegir cupón</ion-button>
                  <p style="text-align: center; color: black;" *ngIf="estaSeleccionado">{{file}}</p> 
                <input id="input_subida" style="display: none" type="file" formControlName="inputFile" accept="image/x-png,image/jpeg" (change)="elegirImagen($event)" required>
      </ion-card-content>

      <ion-card-content *ngIf="estaSeleccionado">
        <ion-button [disabled] ="afiliacion.invalid"  type="submit" color="danger" expand="block">Afiliarse
          <ion-icon name="save" slot="start"></ion-icon>
        </ion-button>
      </ion-card-content>

      <ion-card-content>
        <a (click)="ocultarBotonAfiliar()">Cancelar</a>
      </ion-card-content>
    </form>
    </div>
    </ng-template>

    <ng-template [ngIf]="existeAfiliacion(existeA) === true">
      <div *ngIf="afiliar">
        <ion-card class="infomacionCard">
        <ion-card-content>
          Ya te encuentras afiliado o en proceso de afiliacion a este restaurante. Ve al menu -> Restaurantes afiliados
        </ion-card-content>  
        <ion-card-content>
        <a (click)="ocultarBotonAfiliar()">Cancelar</a>
      </ion-card-content>    
        </ion-card>
      </div>
    </ng-template>


   

<!-- Desayunos -->
<ng-template [ngIf]="existeDesayuno(existeDes) === true">
<div class="desayuno" *ngIf="desayuno">
      <ion-slides  options={{slideOpts}} pager ="true" class="slides">
        <ion-slide *ngFor="let desa of desayunosRespectivos">   
          <ion-card class="infomacionCard">
            <ion-card-header >
              <div class="imagen">
                <img style="margin-left: 20px; margin-top: 25px;" src="../../../assets/desa.jpg" alt="des"  width="140px" >
              </div> 
            </ion-card-header>
            <ion-item>
              <ion-icon name="restaurant" slot="start"></ion-icon>
              <ion-label>{{desa.platoDesayuno}}</ion-label>
              <ion-button fill="outline" slot="end"><ion-icon name="pricetag" slot="start"></ion-icon>{{desa.precioDesayuno}}&nbsp;$
              </ion-button>
            </ion-item>
      
            <ion-card-content  style="text-align:left;">
              <b>El desayuno del día es: </b> {{desa.detalleDesayuno}} <br>
              <b>Ingredientes:</b>
              <div *ngFor="let i of desa.ingredientes">
                
                  <ion-icon name="remove" slot="start"></ion-icon>
                  {{i['ingrediente']}} <br>
                
              </div>
              
            </ion-card-content>
            <br><br>
          </ion-card>
        </ion-slide>
      </ion-slides>
</div>
</ng-template>

<ng-template [ngIf]="existeDesayuno(existeDes) === false">
  <ion-card class="infomacionCard" *ngIf="desayuno">
        <ion-card-content>
          El restaurante no cuenta con desayunos por el momento.
        </ion-card-content>    
  </ion-card>
</ng-template>


<!-- Almuerzos -->
<ng-template [ngIf]="existeAlmuerzo(existeAlmu) === true">
<div class="almuerzos" *ngIf="almuerzo">
    <ion-slides  options={{slideOpts}} pager ="true" class="slides">
      <ion-slide *ngFor="let almu of almuerzosRespectivos">  
        <ion-card class="infomacionCard">
          <ion-card-header >
             <div class="imagen">
              <img style="margin-left: 25px; margin-top: 25px;" src="../../../assets/almu.png" alt="des" width="140px" >
            </div> 
          </ion-card-header>
          <ion-item>
            <ion-icon name="restaurant" slot="start"></ion-icon>
            <ion-label><b>Tipo: </b>{{almu.tipoAlmuerzo}}</ion-label>
            <ion-button fill="outline" slot="end"><ion-icon name="pricetag" slot="start"></ion-icon>{{almu.precioAlmuerzo}} &nbsp;$
            </ion-button>
          </ion-item>
    
          <ion-card-content style="text-align:left;">
            <h5 style="color: black;"><b>Entrada:</b> {{almu.entradaAlmuerzo}} </h5><br>
            <h5 style="color: black;"><b>Segundo:</b> {{almu.segundoAlmuerzo}} </h5><br>
            <h5 style="color: black;"><b>Bebida:</b> {{almu.jugoAlmuerzo}}</h5><br>
          </ion-card-content>
          <br><br>
        </ion-card>
      </ion-slide>
    </ion-slides>
</div>
</ng-template>

<ng-template [ngIf]="existeAlmuerzo(existeAlmu) === false">
  <ion-card class="infomacionCard" *ngIf="almuerzo">
        <ion-card-content>
          El restaurante no cuenta con almuerzos por el momento.
        </ion-card-content>    
  </ion-card>
</ng-template>


<!-- Especial -->

  <ng-template [ngIf]="existeespecial(existeEsp) === true">
  <div class="especial" *ngIf="especiales">
    <ion-slides  options={{slideOpts}} pager ="true" class="slides">
      <ion-slide *ngFor="let espe of especialesRespectivos">  
        <ion-card class="infomacionCard2">
          <ion-card-header >
             <div class="imagen">
              <img style="margin-left: 35px; margin-top: 17px;" src="../../../assets/espe.jpg" alt="des" width="120px">
            </div> 
          </ion-card-header>
          <ion-item>
            <ion-icon name="restaurant" slot="start"></ion-icon>
            <ion-label>{{espe.platoEspecial}}</ion-label>
            <ion-button fill="outline" slot="end"><ion-icon name="pricetag" slot="start"></ion-icon>{{espe.precioEspecial}}&nbsp;$
            </ion-button>
          </ion-item>
    
          <ion-card-content  style="text-align:left;">
            <b>El Especial del dia:</b>  {{espe.platoEspecial}} <br>
            <b>Ingredientes:</b>
            <div *ngFor="let i of espe.ingredientes">
              
                <ion-icon name="remove" slot="start"></ion-icon>
                {{i['ingrediente']}} <br>
            </div>
          </ion-card-content>
          <br><br>
        </ion-card>

      </ion-slide>
    </ion-slides>
    
  </div>  
  </ng-template>


  <ng-template [ngIf]="existeespecial(existeEsp) === false">
  <ion-card class="infomacionCard" *ngIf="especiales">
        <ion-card-content>
          El restaurante no cuenta con platos especiales por el momento.
        </ion-card-content>    
  </ion-card>
</ng-template>

<!-- promociones -->
<ng-template [ngIf]="existePromocion(existePromo) === true">
  <div class="promocion" *ngIf="promociones">

    <ion-slides pager ="true" class="slides">
      <ion-slide *ngFor="let pro of promosUsuario">   
        <div>
          <img [src]="pro.fotosPromocion">
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ng-template>

<ng-template [ngIf]="existePromocion(existePromo) === false">
  <ion-card class="infomacionCard" *ngIf="promociones">
    <ion-card-content>
      El restaurante no cuenta con promociones por el momento.
    </ion-card-content>    
</ion-card>
</ng-template>


<!-- comentarios -->


   
  <div class="comentarios" *ngIf="comentarios">
    <img  src="../../../assets/opinion.jpg" width="95%" height="45%" margin-top="5px">
    <div *ngFor="let comen of comentarios$ | async">
      <div *ngIf="res.userUID === comen.uidResta">
        
        <ion-item>
          <h6> <ion-icon name ="person"></ion-icon> {{comen.nombreUsu}} </h6>&nbsp;&nbsp;&nbsp;   <ion-button fill="outline" slot="end"><ion-icon name="star" slot="start"></ion-icon>{{comen.calificacion}}
          </ion-button>
        </ion-item>
        <p style=" padding-left: 10px;">{{comen.comentario}} </p>
         
        <p style=" text-align: end; font-size: 11px; color: #16212B;" >{{comen.fecha}}</p>
       
      </div>
    </div>
  </div>

<!-- Ubicacion -->

    <br>
    <ion-card *ngIf="informacion">

      <ion-card-header style="text-align: center;">Ubicación
      </ion-card-header>
    </ion-card>
  
    <div *ngIf="informacion">
    <div *ngFor="let coor of coordenadas$ | async">
      <div *ngIf="coor.userUID === res.userUID" >
        <div style="text-align: center;">
          <ion-button  color="medium" (click)="presentarAlertaMapa(res.id, coor.lat, coor.lng )">¿Cómo Llegar?</ion-button>
          <ion-button  color="medium" (click)="cargarMapa()">Mostrar Mapa</ion-button>
        </div>
      </div>
    </div>
    </div>

    <div *ngIf="informacion" class="mapa" id="Mapa" style="width: 95%; height: 80%; margin-left:10px;"></div>

  

  <ng-template #foto>
    <img src="../../../assets/foto.png" width="100%" height="17%" margin-top="5px">
  </ng-template>

</ion-content>
