<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start" fill="none" (click)="goRegreso()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="none" (click)="getMenu()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">{{res.nombreRestaurante}}</ion-title>
  </ion-toolbar>
</ion-header>

<img *ngIf="res.imagenRes ; else foto" src="{{res.imagenRes}}" width="100%" height="17%" margin-top="5px">

<ion-content class="ion-padding">

  <div>
    <h3 style="text-align: center;">Informacion Restaurante</h3>

    <ion-list>
      <ion-item>
        <h6><b>Tipo Restaurante: </b>{{res.tipoRestaurante}}</h6>
      </ion-item>
      <ion-item>
        <h6><b>Capacidad: </b>{{res.capacidadRestaurante}}</h6>
      </ion-item>
      <ion-item>
        <h6><b>Hora de apertura: </b>{{res.horaApertura}}</h6>
      </ion-item>
      <ion-item>
        <h6><b>Hora de cierre: </b>{{res.horaCierre}}</h6>
      </ion-item>
    </ion-list>
  </div>

  <div *ngFor="let desa of desayunos">
    <div *ngIf="res.userUID === desa.userUID">
      <h4 style="text-align: center;">Desayuno</h4>
      <ion-list>
        <ion-item>
          <h6><b>Tipo Desayuno: </b>{{desa.platoDesayuno}}</h6>
        </ion-item>
        <ion-item>
          <h6><b>Detalle: </b>{{desa.detalleDesayuno}}</h6>
        </ion-item>
        <ion-item>
          <h6><b>Precio: </b>{{desa.precioDesayuno}}</h6>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div *ngFor="let almu of almuerzos">
    <div *ngIf="res.userUID === almu.userUID">
      <h4 style="text-align: center;">Almuerzo</h4>
      <ion-list>
        <ion-item>
          <h6><b>Entrada: </b>{{almu.entradaAlmuerzo}}</h6>
        </ion-item>
        <ion-item>
          <h6><b>Segundo: </b>{{almu.segundoAlmuerzo}}</h6>
        </ion-item>
        <ion-item>
          <h6><b>Jugo: </b>{{almu.jugoAlmuerzo}}</h6>
        </ion-item>
        <ion-item>
          <h6><b>Precio: </b>{{almu.precioAlmuerzo}}</h6>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div *ngFor="let meri of meriendas">
    <div *ngIf="res.userUID === meri.userUID">
      <h4 style="text-align: center;">Merienda</h4>

      <ion-list>
        <ion-item>
          <h6><b>X: </b>{{meri.platoMerienda}}</h6>
        </ion-item>
        <ion-item>
          <h6><b>Detalle Merienda: </b>{{meri.detalleMerienda}}</h6>
        </ion-item>
        <ion-item>
          <h6><b>Precio: </b>{{meri.precioMerienda}}</h6>
        </ion-item>
      </ion-list>

    </div>
  </div>

  <div>
    <div>

      <h3 style="text-align: center;">Platos Especiales</h3>

      <img>

    </div>
  </div>

  <br>

  <div>
    <div>

      <h3 style="text-align: center;">Calificacion</h3>



      <!-- <form [formGroup] ="cali" (ngSubmit) = "Calificar(res.id)">
        <ion-list>

          <ion-select value=3 id="valor" formControlName="nota">
            <ion-select-option value=1>Pesimo</ion-select-option>
            <ion-select-option value=2>Malo</ion-select-option>
            <ion-select-option value=3>Regular</ion-select-option>
            <ion-select-option value=4>Bueno</ion-select-option>
            <ion-select-option value=5>Excelente</ion-select-option>
          </ion-select>
    
          <ion-button [disabled] ="cali.invalid" type = "submit" expand = "block">
            ACTUALIZAR
            <ion-icon slot="end" name ="refresh"></ion-icon>
          </ion-button>
        </ion-list>
        
      </form>  para comentar de una sola Ctrl + k &  Ctrl +     -->


      <ion-slides pager="true" class="slides">
        <ion-slide *ngFor="let pre of preguntas" class="slide">
          <img src="{{pre.pregunta}}">
          <br>

          
          
          <ng-template [ngIf]="pre.estado.toString() === 'suma'">
            <ion-select value=3 id="valor">
              <ion-select-option value=1>Pesimo</ion-select-option>
              <ion-select-option value=2>Malo</ion-select-option>
              <ion-select-option value=3>Regular</ion-select-option>
              <ion-select-option value=4>Bueno</ion-select-option>
              <ion-select-option value=5>Excelente</ion-select-option>
            </ion-select>
          </ng-template>
          <ng-template [ngIf]="pre.estado.toString() === 'total'">
            <ion-button>Realizar Calificacion</ion-button>
          </ng-template>

          

          
        </ion-slide>
      </ion-slides>

    </div>
  </div>

  <br>

  <div *ngFor="let afi of afiliados">
    <div *ngIf="afi.uidUsu === usuarioLog && afi.uidResta === res.userUID">
      <ng-template [ngIf]="afi.estado === 'verdadero'">
        <ion-button (click)="presentModal()">Realizar Reserva</ion-button>
      </ng-template>
    </div>
  </div>

  <br>
  <p>ss</p>
  <div class="mapa" id="Mapa" style="width: 95%; height: 80%;"></div>
  <br>

  <ion-button (click)="mostrar(res.id)">¿Cómo Llegar?</ion-button>

  <div *ngFor="let afi of afiliados">
    <div *ngIf= "afi.uidUsu === usuarioLog && afi.idres === res.id; else v" >
      <p>existe </p>
    </div>
  </div>

   <!--

  <ng-template #v>
    <p>no existe</p>
    <div *ngFor="let afi of afiliados">
      <ng-template [ngIf]="afi.uidUsu === usuarioLog && afi.idres === res.id && afi.estado === 'verdadero'" >
        <p>boto reserva</p>
      </ng-template>
  
      <ng-template [ngIf]="afi.uidUsu === usuarioLog && afi.idres === res.id && afi.estado === 'falso'" >
        <p>afiliacion pendiente</p>
      </ng-template>
             <div *ngIf="afi.uidUsu === usuarioLog && afi.idres === res.id && afi.estado === 'verdadero'; else afiliar">
          <ion-button (click)="afiliarse()">Afiliarse</ion-button>
      </div> 

    </div>

  </ng-template>

  -->

  <!--

  <div *ngIf="existeAfiliacion(validacion) === false">
    <p>Afiliar</p>
  </div>

  
  <ng-template #afiliar>
    <div  *ngFor="let afi of afiliados">
      <div  *ngIf="afi.uidUsu === usuarioLog && afi.idres === res.id && afi.estado === 'falso'">
        <p>ssss</p>
      </div>
    </div>  
  </ng-template>

  -->

  <!-- <ion-button (click)="afiliarse()">Afiliarse</ion-button> -->

  <!--

  <div *ngFor="let afi of afiliados">
    <div *ngIf="afi.uidUsu != usuarioLog  ">
     
    </div>
  </div>

  -->

  


<!--

  <div *ngFor="let afi of afiliados">
    <div *ngIf="afi.uidUsu === usuarioLog && afi.uidResta === res.userUID">
      <ng-template [ngIf]="afi.estado === 'verdadero'">
        <p style="text-align: center;">Estas Afiliado a este Restaurante</p>
      </ng-template>
      <ng-template [ngIf]="afi.estado === 'falso'">
        <p style="text-align: center;">Tu Afiliacion ha sido rechazada</p>
      </ng-template>
    </div>
  </div>

-->


  <div >
  <ion-button (click)="afiliarse()">Afiliarse</ion-button>
    
  </div>
  <div [hidden]="validacionB">

    Reserva
  </div>


  <ng-template #foto>
    <img src="../../../assets/foto.png" width="100%" height="17%" margin-top="5px">
  </ng-template>

</ion-content>