.panel .slides {
    height: 16%;
    width: 100%;
}

// .slide {
//     display: grid;
// }

ion-card .imagen{
  position: absolute;
  left: 50%;
  top: 70px;
  width: 150px;
  border-radius: 50%;

}

input[type="radio"] {
    display: none;
  }

  label {
    color: grey;
  }

  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    font-size: xx-large;
  }

  label:hover,
  label:hover ~ label {
    color: orange;
  }

  input[type="radio"]:checked ~ label {
    color: orange;
  }

.fotoResta{
    width: 35%;
    margin-left: 30%;
}

.infomacionCard{
  width: 95%;
  // margin-left: 30%;
}

.infomacionCard2{
  width: 95%;
}

ion-card-content{
  color: black;
}

ion-toolbar{
    --background: #eeeeee ;
    --opacity: 5.9;
  }

.titulo{
    border: 0px solid #1dbfd4;
    border-radius: 3%;
    background-color: #1dbfd4;
    color: white;
  }

.menu{
    text-align: center;
    background-color: #e73d39;
    color: white;
    width: 50%;
    margin-left: 25%;
}

.mapa{
    border: 2px solid black;
    // display: none;
}

 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
  width: 50%;
  height: 30px;
  // margin: 2%;
  // display: inherit
  // transition: 0.9s;
  // background-color: #1dbfd4;
  // color: white;
}

.accordion:hover {
  // transition: 0.9s;
  background-color: #dc5c04;
  width: 50%;
  height: 30px;
  // margin: 2%;
  //color: red;
}

// .accordion:link{
//   text-decoration: coral;
// }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
// .active, .accordion:hover {
//   background-color: #aaaaaa;
// }

/* Style the accordion panel. Note: hidden by default */
.panel {
  display: none;
  overflow: hidden;
  padding-top: 5%;
  padding-bottom: 30%

}

