<ion-header>
  <ion-toolbar color ="dark">
    <ion-button slot="start" fill ="none" (click)= "goRegreso()">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-button slot="end" fill ="none" (click)="presentActionSheet()">
      <ion-icon name = "menu" ></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">Visualizar Peticiones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngFor = "let reser of reservas">

  <ion-item>
    <ion-label>
      <h4>Nombre: <b>{{reser.nombre}}</b></h4>
    </ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>
      <h4>Cedula: <b>{{reser.numero}}</b></h4>
    </ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>
      <h4>Pedido: <b>{{reser.pedido}}</b></h4>
    </ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>
      <h4>Cantidad: <b>{{reser.cantidad}}</b></h4>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h4>Reserva dentro de: <b>{{reser.tiempo}}</b></h4>
    </ion-label>
  </ion-item>
  <br>
  <ion-button >ACEPTAR PETICION</ion-button>

</ion-content>
