

.slide {
    display: grid;
}

.slides {
    height: 100%;
    width: 100%;
}

.google {
    --background: #db4437;
}
.facebook {
    --background: #3b5998;
}

ion-input, ion-item{
    --background: transparent;
}