

.slide {
    display: grid;
    background-image: url(../../assets/inicio.jpeg);
}

.slides {
    height: 100%;
    width: 100%;
}

.google {
    --background: #db4437;
}
.facebook {
    --background: #3b5998;
}

.e{
    color: #FF5A55;
    font-size: 10px;
    margin: 0%;
    padding: 0%;
}

.texto{
    color: white;
}

ion-input, ion-item{
    --background: transparent;
}

