<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      BIENVENIDO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="../../assets/icon/hambre.jpg"/>
  </ion-card>

  <ion-item>
    <ion-input type="text" [(ngModel)]="email" name="email" placeholder="Correo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button (click)="OnSubmitLogin()">Iniciar Sesion</ion-button>
  </ion-item>

  <ion-item>
      <ion-button >Registrarse</ion-button>
    </ion-item>
  <br>
  <p style="text-align: center;">Ó Inicia con:</p>
  
  <ion-item>
    <ion-button expand="full">FACEBOOK</ion-button>
  </ion-item>
  
  <ion-item>
    <ion-button expand="fulll">GOOGLE</ion-button>
  </ion-item>

   
</ion-content>
