<ion-header>
  <ion-toolbar >
    <ion-title style="text-align: center;" class="titulo1">
      BIENVENIDO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-slides pager ="true" class="slides">
      <ion-slide class="slide1" >
        <div class="aver1">
          <img class="centro" src="../../assets/blogo.svg" style="text-align: center;">
        </div>
        <div class="aver2">
          <p style="text-align: center;" class="intro">Encuentra donde comer donde sea que estes</p>
        </div>
        
      </ion-slide>
      <ion-slide class="slide2" >
        <div class="esquina">
          <img src="../../assets/icon/logo1.png">
        </div>
        <div  class="aver1">
          <img class="centro" src="../../assets/icono_clientes.svg" style="text-align: center;">
        </div>
        <div class="aver2">
          <p style="text-align: center;" class="intro2">Mira los mejores restaurantes alrededor de la EPN</p>
        </div>
      </ion-slide>
      <ion-slide class="slide3" >
        <div class="esquina">
          <img src="../../assets/icon/logo1.png">
        </div>
        <div  class="aver1">
          <img class="centro" src="../../assets/icono_menu.svg" style="text-align: center;">
        </div>
        <div class="aver2">
          <p style="text-align: center;" class="intro2">Revisa los menús y decide que vas a querer</p>
        </div>
      </ion-slide>
      <ion-slide class="slide4" >
        <div class="esquina">
          <img src="../../assets/icon/logo1.png">
        </div>
        <div  class="aver1">
          <img class="centro" src="../../assets/icono_promocion.svg" style="text-align: center;">
        </div>
        <div class="aver2">
          <p style="text-align: center;" class="intro2">Aprovecha diferentes ofertas de comidas extraordinarias</p>
        </div>
      </ion-slide>
      <ion-slide class="slide5">
        
        <img class="logo" src="../../assets/icon/logo1.png"/>

      <form [formGroup] ="login" (ngSubmit) = "OnSubmitLogin(login.value)">
        <ion-item>
          <ion-input class="texto" placeholder="Correo" formControlName="email" type="text"  maxlength ="30"></ion-input>
        </ion-item>
        <div >
          <ng-container *ngFor ="let error of errorMensajes.email">
            <div class="e" *ngIf ="login.get('email').hasError(error.type) && (login.get('email').dirty || login.get('email').touched)">
              {{error.message}}
            </div>
          </ng-container> 
        </div> 
        <ion-item>
          <ion-input class="texto" placeholder="Contraseña" formControlName="password" type="password" maxlength ="25"></ion-input>
        </ion-item>
        <div >
          <ng-container *ngFor ="let error of errorMensajes.password">
            <div class="e" *ngIf ="login.get('password').hasError(error.type) && (login.get('password').dirty || login.get('password').touched)">
              {{error.message}}
            </div>
          </ng-container> 
        </div>
        <hr>
        <ion-button [disabled] ="login.invalid" type = "submit" expand = "block">
          <p>Iniciar Sesión</p> 
        </ion-button>
      </form>
        <p class="texto" style="text-align: center;" >Ó Inicia con:</p>
      
          <ion-button (click)="facebookLogin()" class="facebook">
            <ion-icon slot="start" name ="logo-facebook"></ion-icon>
          </ion-button>
          
        
          <ion-button (click)="googleLogin()" class="google">
            <ion-icon  name ="logo-google"></ion-icon>
          </ion-button>
    
        <p class="texto" style="text-align: center;" routerLink="/recuperar">¿Olvidaste tu Contraseña?</p>
        <ion-button class="registro" routerLink="/registro">Registrarse</ion-button>
        
    </ion-slide>
    </ion-slides>
   
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="intro" style="text-align: start;">Atras</ion-title>
    <ion-title class="intro" style="text-align: end;">Siguiente</ion-title>
  </ion-toolbar>
</ion-footer>

