<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;">
      BIENVENIDO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-slides pager ="true" class="slides">

      <ion-slide class="slide1">
        
          <img class="logo" src="../../assets/icon/logo1.png"/>

        

        <form [formGroup] ="login" (ngSubmit) = "OnSubmitLogin(login.value)">
          <ion-item>
            <ion-input class="texto" placeholder="Correo" formControlName="email" type="text"  maxlength ="30"></ion-input>
          </ion-item>
          <div >
            <ng-container *ngFor ="let error of errorMensajes.email">
              <div class="e" *ngIf ="login.get('email').hasError(error.type) && (login.get('email').dirty || login.get('email').touched)">
                {{error.message}}
              </div>
            </ng-container> 
          </div> 
          <ion-item>
            <ion-input class="texto" placeholder="Contraseña" formControlName="password" type="password" maxlength ="25"></ion-input>
          </ion-item>
          <div >
            <ng-container *ngFor ="let error of errorMensajes.password">
              <div class="e" *ngIf ="login.get('password').hasError(error.type) && (login.get('password').dirty || login.get('password').touched)">
                {{error.message}}
              </div>
            </ng-container> 
          </div>
          <hr>
          <ion-button [disabled] ="login.invalid" type = "submit" expand = "block">
            <p>Iniciar Sesión</p> 
          </ion-button>
        </form>
          
        
        
          <br>
          <p class="texto" style="text-align: center;" >Ó Inicia con:</p>
        
            <ion-button (click)="facebookLogin()" class="facebook">
              <ion-icon slot="start" name ="logo-facebook"></ion-icon>
            </ion-button>
            
          
            <ion-button (click)="googleLogin()" class="google">
              <ion-icon  name ="logo-google"></ion-icon>
            </ion-button>
        
          <p class="texto" style="text-align: center;" routerLink ="/registro">Crear Cuenta</p>
          <p class="texto" style="text-align: center;" routerLink="/recuperar">¿Olvidaste tu Contraseña?</p>
          
      </ion-slide>
      <ion-slide class="slide2" >
        <span>
          <img src="../../assets/icon/logo1.png"/>
        </span>
        <img class="epn" src="../../assets/epn1.png"/>
          <h5 class="texto">
            Muertos de Hambre es la aplicación oficial de la Escuela Politécnica Nacional,
             que permite a los estudiantes, maestros y todo el personal correspondiente a la EPN poder disfrutar de la variedad gastronómica del sector. 
          </h5>
      </ion-slide>
      <ion-slide class="slide3" >
        <span>
          <img src="../../assets/icon/logo1.png"/>
        </span>
        <img class="epn" src="../../assets/menu.png"/>
          <h5 class="texto">
            Revisa el munú diario y promociones de los restaurantes afiliados a 
            la aplicación
          </h5>
      </ion-slide>
      <ion-slide class="slide4" >
        <span>
          <img src="../../assets/icon/logo1.png"/>
        </span>
        <img class="epn" src="../../assets/mapa.png"/>
          <h5 class="texto">
            Dirígete al restaurante que más te guste con la ayuda del mapa en tiempo real que te ofrece la aplicación

          </h5>
      </ion-slide>
    </ion-slides>
   
</ion-content>
