<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill ="none" routerLink="/promocion">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">Promociones Habilitadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div *ngFor="let promo of promociones$ | async">
  <ion-card *ngIf=" promo.userUID === usuarioLog ">
    <div *ngIf="promo.estado === 'verdadero'">
      <img src = "{{promo.fotosPromocion}}">
    <ion-card-header>
      <ion-card-title>Mis Promociones</ion-card-title>
      <ion-button (click)="ocultar(promo)">Ocultar Promocion</ion-button>
    </ion-card-header>
    </div>
  </ion-card>
</div>

</ion-content>
