<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill ="none" routerLink="/perfil">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">Promociones Habilitadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="display: grid; grid-template-columns: 1fr 1fr;">

    <ion-card *ngFor="let promo of promoHabilitados" >
       <ion-card-header>
        <img src= "{{promo.fotosPromocion}}">
      </ion-card-header>
      <ion-card-subtitle style="text-align: center;">
        <ion-button (click)="AlertHabilitar(promo.id)"><ion-icon name="checkbox"></ion-icon></ion-button>
        <ion-button (click)="AlertConfirmEliminar(promo.id)" color="danger"><ion-icon name="eye-off">Eliminar</ion-icon></ion-button>
      </ion-card-subtitle>
    </ion-card>
  </div>


</ion-content>
