<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill ="none" routerLink="/tabs-menu/especial">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-title>Menú del día</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- <ion-list lines="full">
    <ion-item *ngIf="especial">
      <ion-input required type="text" placeholder="Plato" [(ngModel)]="especial.platoEspecial"></ion-input>
    </ion-item>
    <ion-item *ngIf="especial">
      <ion-input required type="text" placeholder="Precio" [(ngModel)]="especial.precioEspecial"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveEspecial()">Guardar</ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
      <ion-fab-button color="danger"  (click)="onRemoveEspecial(especialID)">
          <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->

  
<form [formGroup]="miform" (ngSubmit)="onSubmit(miform.value)">
  <ion-item>
    <ion-label>Plato:</ion-label>
    <ion-input type="text" formControlName="platoEspecial"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Precio: </ion-label>
    <ion-textarea formControlName="precioEspecial"></ion-textarea>
  </ion-item> <br>
  <!-- <ion-item>
    <ion-label>ingredientes</ion-label>
    <ion-textarea formControlName="ingredientes"></ion-textarea>
  </ion-item> -->

  <div formArrayName="ingredientes">
    <div *ngFor="let person of ingre.controls; let i=index;">
      <div [formGroupName]="i">
        <input type="text" formControlName="ingrediente"><button mat-raised-button color="info" (click)="removeIngrediente(i)">Eliminar</button> 
      </div>
    </div>
    <a type="button" color="primary" (click)="addIngredientes()">Agregar</a>
</div> 
  <ion-button expand="full"  type="submit" [disabled]="!miform.valid">Guardar</ion-button>
  <!-- <button ion-button type="submit" [disabled]="!miform.valid">Submit</button> -->
</form>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
  <ion-fab-button color="danger"  (click)="onRemoveEspecial(especialID)">
      <ion-icon name="trash"></ion-icon>
  </ion-fab-button>
</ion-fab>


</ion-content>

