<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill ="none" routerLink="/tabs-menu/especial">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-title>Menú del día</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

<ion-card>
  <form [formGroup]="miform" (ngSubmit)="onSubmit(miform.value)">
  
    <ion-item *ngIf="especialID">
      <ion-select placeholder="Estado" required type="text" formControlName="estado">
        <ion-select-option>Activo</ion-select-option>
        <ion-select-option>Deshabilitado</ion-select-option> 
      </ion-select>
  </ion-item>
    <ion-item>
      <ion-label>Plato especial:</ion-label>
      <ion-input type="text" formControlName="platoEspecial" maxlength="30"></ion-input>
    </ion-item>
    <div >
      <ng-container *ngFor ="let error of errorMensajes.platoEspecial">
        <div class="e" *ngIf ="miform.get('platoEspecial').hasError(error.type) && (miform.get('platoEspecial').dirty || miform.get('platoEspecial').touched)">
          {{error.message}}
        </div>
      </ng-container> 
    </div>
    <ion-item>
      <ion-label>Precio: </ion-label>
      <ion-input placeholder="$$,$$" formControlName="precioEspecial" maxlength="5"></ion-input>
    </ion-item>
    <div >
      <ng-container *ngFor ="let error of errorMensajes.precioEspecial">
        <div class="e" *ngIf ="miform.get('precioEspecial').hasError(error.type) && (miform.get('precioEspecial').dirty || miform.get('precioEspecial').touched)">
          {{error.message}}
        </div>
      </ng-container> 
    </div>
    <ion-item>
      <ion-label>Ingredientes:</ion-label>
    </ion-item>

    <div formArrayName="ingredientes" style="margin-left: 5%;">
      <div *ngFor="let person of ingre.controls; let i=index;">
        <ion-item  [formGroupName]="i">
          <ion-input type="text" formControlName="ingrediente" maxlength="15"></ion-input>
          <ion-button color="danger" (click)="removeIngrediente(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
      <ion-item>
        <ion-button (click)="addIngredientes()">
          <ion-icon name="add"></ion-icon>
          Agregar
        </ion-button>
      </ion-item>
  </div> 
    <ion-button expand="full"  type="submit" [disabled]="!miform.valid">Guardar</ion-button>
    <!-- <button ion-button type="submit" [disabled]="!miform.valid">Submit</button> -->
  </form>
</ion-card>

</ion-content>

