<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill ="none" routerLink="/tabs-menu/especial">
      <ion-icon name = "arrow-back" ></ion-icon>
    </ion-button>
    <ion-title>Menú del día</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

<ion-card>
  <form [formGroup]="miform" (ngSubmit)="onSubmit(miform.value)">
  
    <ion-item *ngIf="especialID">
      <ion-select placeholder="Estado" required type="text" formControlName="estado">
        <ion-select-option>Activo</ion-select-option>
        <ion-select-option>Deshabilitado</ion-select-option> 
      </ion-select>
  </ion-item>
    <ion-item>
      <ion-label>Plato:</ion-label>
      <ion-input type="text" formControlName="platoEspecial"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Precio: </ion-label>
      <ion-textarea formControlName="precioEspecial"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Ingredientes:</ion-label>
    </ion-item>

    <div formArrayName="ingredientes" style="margin-left: 5%;">
      <div *ngFor="let person of ingre.controls; let i=index;">
        <ion-item  [formGroupName]="i">
          <ion-input type="text" formControlName="ingrediente"></ion-input>
          <ion-button color="danger" (click)="removeIngrediente(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
      <ion-item>
        <ion-button (click)="addIngredientes()">
          <ion-icon name="add"></ion-icon>
          Agregar
        </ion-button>
      </ion-item>
  </div> 
    <ion-button expand="full"  type="submit" [disabled]="!miform.valid">Guardar</ion-button>
    <!-- <button ion-button type="submit" [disabled]="!miform.valid">Submit</button> -->
  </form>
</ion-card>


<ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
  <ion-fab-button color="danger"  (click)="onRemoveEspecial(especialID)">
      <ion-icon name="trash"></ion-icon>
  </ion-fab-button>
</ion-fab>


</ion-content>

