<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start" fill="none" (click)="goRegreso()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="none" (click)="presentActionSheet()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">Mi Menu Diario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let desa of desayunos">
    <div *ngIf="usuarioLog === desa.userUID">
      <h4 style="text-align: center;">Desayuno</h4>
      <ion-list>
        <ion-item>
          <h6><b>Tipo Desayuno: </b>{{desa.platoDesayuno}}</h6>
        </ion-item>
        <ion-item>
          <h6><b>Detalle: </b>{{desa.detalleDesayuno}}</h6>
        </ion-item>
        <ion-item>
          <h6><b>Precio: </b>{{desa.precioDesayuno}}</h6>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div *ngFor="let almu of almuerzos">
    <div *ngIf="usuarioLog === almu.userUID">
      <h4 style="text-align: center;">Almuerzo</h4>
      <ion-list>
        <ion-item>
          <h6><b>Entrada: </b>{{almu.entradaAlmuerzo}}</h6>
        </ion-item>
        <ion-item>
          <h6><b>Segundo: </b>{{almu.segundoAlmuerzo}}</h6>
        </ion-item>
        <ion-item>
          <h6><b>Jugo: </b>{{almu.jugoAlmuerzo}}</h6>
        </ion-item>
        <ion-item>
          <h6><b>Precio: </b>{{almu.precioAlmuerzo}}</h6>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div *ngFor="let meri of meriendas">
    <div *ngIf="usuarioLog === meri.userUID">
      <h4 style="text-align: center;">Merienda</h4>

      <ion-list>
        <ion-item>
          <h6><b>X: </b>{{meri.platoMerienda}}</h6>
        </ion-item>
        <ion-item>
          <h6><b>Detalle Merienda: </b>{{meri.detalleMerienda}}</h6>
        </ion-item>
        <ion-item>
          <h6><b>Precio: </b>{{meri.precioMerienda}}</h6>
        </ion-item>
      </ion-list>

    </div>
  </div>

  <ion-button routerLink="/menu">Actualizar Menu Diario</ion-button>

</ion-content>
