<ion-header>
  <ion-toolbar color="dark">
    <ion-button slot="start" fill="none" (click)="goRegreso()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="none" (click)="presentActionSheet()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title style="text-align: center;">Mi Menu Diario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <button class="accordion">DESAYUNOS</button>
  <div class="panel">
    <div *ngFor="let desa of desayunos">
      <div *ngIf="usuarioLog === desa.userUID">
        <ion-list>
          <ion-item>
            <h6><b>Tipo Desayuno: </b>{{desa.platoDesayuno}}</h6>
          </ion-item>
          <ion-item>
            <h6><b>Detalle: </b>{{desa.detalleDesayuno}}</h6>
          </ion-item>
          <ion-item>
            <h6><b>Precio: </b>{{desa.precioDesayuno}}</h6>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>

  <button class="accordion">ALMUERZOS</button>
  <div class="panel">
    <div *ngFor="let almu of almuerzos">
      <div *ngIf="usuarioLog === almu.userUID">
        <ion-list>
          <ion-item>
            <h6><b>Entrada: </b>{{almu.entradaAlmuerzo}}</h6>
          </ion-item>
          <ion-item>
            <h6><b>Segundo: </b>{{almu.segundoAlmuerzo}}</h6>
          </ion-item>
          <ion-item>
            <h6><b>Jugo: </b>{{almu.jugoAlmuerzo}}</h6>
          </ion-item>
          <ion-item>
            <h6><b>Precio: </b>{{almu.precioAlmuerzo}}</h6>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div> 

  <button class="accordion">PLATOS ESPECIALES</button>
  <div class="panel">
    <div *ngFor="let espe of especiales$ | async">
      <div *ngIf="usuarioLog === espe.userUID">
        <ion-list>
          <ion-item>
            <h6><b>Plato: </b>{{espe.platoEspecial}}</h6>
          </ion-item>
          <ion-item>
            <h6><b>Precio: </b>{{espe.precioEspecial}}</h6>
          </ion-item>
          <div style="text-align: center;" *ngFor="let i of espe.ingredientes">
            <ion-item>
              <ion-icon name="play" slot="start"></ion-icon>
              {{i['ingrediente']}} <br>
            </ion-item>
          </div>
        </ion-list>
      </div>
    </div>
  </div> 


  <ion-button routerLink="/menu">Actualizar Menu Diario</ion-button>

</ion-content>
